<div id="block-recommend_course-{{uniqid}}" class="block_recommend_course block-cards" data-region="available_courses"
        data-userid="{{userid}}" data-displaycoursecategory="{{displaycategories}}">
    <div class="container-fluid p-0">
        {{> block_recommend_course/todocourses-view }}
    </div>
</div>